
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding:0;
  font-family:Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  background:#cccc;
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100vh;
}

.btn{
  border:none;
  outline:none;
  width: 80px;
  height: 40px;

  background: #FFFFFF;
  box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.0991313);
  border-radius: 28px;
}